.message {
  width: 100%;
  padding: 16px 16px 0px 16px;
  border: solid black 1px;
  margin: 4px;
}

.error {
  background-color: #fe4d4d;
}

.success {
  background-color: #4dfe4d;
}

.info {
  background-color: #4d4d4d;
}
